<div class="navbar navbar-fixed-top" style="background-color: darkred;height:50px">
  <!--<div class="container-fluid">-->
    <div class="navbar-header">
      <div class="navbar-brand" style="color:wheat;font-family: Algerian;font-size: large">
        <a href="#about" style="color: wheat"><b>SS</b></a>
        </div>
    <!--</div>-->
  <!--<div cla ss="navbar-header" >-->

    <button (click)="setValid()" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" >
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar" style="background-color: wheat;"></span>
      <span class="icon-bar" style="background-color: wheat"></span>
      <span class="icon-bar" style="background-color: wheat"></span>
      <ul class="nav navbar-nav list-group" *ngIf="isValid" style="text-align: center;background-color: darkred">
        <!--<li ><a class="text " href="#" style="color: wheat">Home</a></li>-->
        <!--<li><a class="text " href="#profile" style="color: wheat">Profile</a></li>-->
        <!--<li><a class="text " href="#about" style="color: wheat">About</a></li>-->
        <!--<li><a class="text " href="#volunteer" style="color: wheat">Testimonial</a></li>-->
        <!--<li><a class="text " href="#contact" style="color: wheat">Contact</a></li>-->
        <li><a href="#about" style="color: wheat"><b>Home&nbsp;</b></a></li>
        <li><a href="#me" style="color: wheat"><b>About&nbsp;</b></a></li>
        <li><a href="#resume" style="color: wheat"><b>Profile&nbsp;</b></a></li>
        <li><a href="#testimonial" style="color: wheat"><b>Testimonials&nbsp;</b></a></li>
        <li><a href="#skills" style="color: wheat"><b>Skills&nbsp;</b></a></li>
        <li><a href="#contact" style="color: wheat"><b>Contact&nbsp;&nbsp;</b></a></li>
      </ul>

    </button>
  </div>

    <div class="collapse navbar-collapse" style="font-family: 'Times New Roman'">
    <ul class="nav navbar-nav navbar-right" style="font-size: larger">
      <li><a href="#about" style="color: wheat"><b>Home&nbsp;</b></a></li>
      <li><a href="#me" style="color: wheat"><b>About&nbsp;</b></a></li>
      <li><a href="#resume" style="color: wheat"><b>Profile&nbsp;</b></a></li>
      <li><a href="#testimonial" style="color: wheat"><b>Testimonials&nbsp;</b></a></li>
      <li><a href="#skills" style="color: wheat"><b>Skills&nbsp;</b></a></li>
      <li><a href="#contact" style="color: wheat"><b>Contact&nbsp;&nbsp;</b></a></li></ul>

  </div>
  <!--</div>-->

</div>
