
<div class="foot">
  <div class="container">
<div class="row">
  <div class="col-md-3">
    <!--linkedin-->
    <i><a class="fa fa-linkedin-square" style="font-size:48px;color:wheat" href="https://www.linkedin.com/in/saily-sawant-5b4a06b4/" target="_blank"></a></i>

  </div>

  <div class="col-md-3">
    <!--github-->
    <i><a class="fa fa-github-square" style="font-size:48px;color:wheat" href="https://github.com/sailysawant" target="_blank"></a></i>
  </div>

  <div class="col-md-3">
    <!--facebook-->
    <i><a href="https://www.facebook.com/saily.sawant.3" class="fa fa-facebook-square" style="font-size:48px;color:wheat" target="_blank"></a></i>
  </div>

  <div class="col-md-3">
    <!--instagram-->
    <i><a class="fa fa-instagram" style="font-size:48px;color:wheat" href="https://www.instagram.com/saily_sawant/" target="_blank"></a></i>
  </div>

</div>
</div>
</div>
