
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="name">
  <!--<img src="../../assets/img/wall_a.jpg" class="img-responsive">-->
  <!--<h1 align="center" style="background-image: url('../../assets/img/wall.jpg'); width: 1500px;height:506px;text-align: center">Hi,this is Saily Sawant</h1>-->
  <!--<-->
  <div class="mypic">
    <!--<img src="../../assets/img/ss.jpeg" class="img-rounded img-responsive" style="height:60%;width: 50%" >-->
  </div>
  <div class="centered" style="color: wheat;font-size:xx-large;font-family: 'Times New Roman'">
    <h1><b>I'm Saily</b></h1><p style="font-size:x-large"><i>-Web/Software/Android Developer</i></p>
    </div>

  <!--<div >Centered</div>-->
    <!--<div class="quote" style="color:wheat;font-family: 'Times New Roman'">-->
      <!--<h4><b><i>The programmers of tomorrow are the wizards of the future.You're going to look like you have magic powers compared to everybody else.</i></b></h4>-->
  <!--</div>-->

</div>

