
<div class="skillcon  ">
  <div class="container">


    <div class="row">


      <div class="col-md-5" style="float: left">
        <img src="assets/img/ss1.jpeg" class="img-rounded img-responsive"  >

        </div>

      <div class="col-md-7" style="float: right">
        <b><i><q>
          I am recent Graduate in Computer Science & a Web Development enthusiast looking for full-time opportunities to leverage
          my expertise in Software Development.Also,I had the opportunity to develop an insight in the field of Android Development
          during the course of my internship at pullup Technologies.During Master's I had the opportunity to hone my skills in the
          field of Application development,Database development & Data Analysis through my coursework and Projects.Highly adept at
          learning and utilizing a variety of programming languages, technologies and methodologies.I have the passion for learning
          new technologies and designing efficient software for organization's growth.</q></i></b>
        <br>
        <br>
        <button style="font-size:20px ; background-color: darkred;color: wheat "><a href="assets/img/Resume_Saily_Sawant.pdf" target="_blank" style="color: wheat">Download Resume </a><i class="fa fa-file-text"></i></button>
      </div>

      </div>

    </div>



  </div>

























<!--<div></div>-->



<!--<div class="me" style="font-family: 'Times New Roman';font-size: larger;text-align: left;">-->
  <!--<div class="col-md-4">-->
    <!--<img src="../../assets/img/ss1.jpeg" class="img-rounded img-responsive" style="height:30%;width: 30%" align="left" >-->
  <!--</div>-->
<!--<div class="col-md-8">-->
  <!--<b><i><q>-->
    <!--I am recent Graduate in Computer Science & a Web Development enthusiast looking for full-time opportunities to leverage-->
    <!--my expertise in Software Development.Also,I had the opportunity to develop an insight in the field of Android Development-->
    <!--during the course of my internship at pullup Technologies.During Master's I had the opportunity to hone my skills in the-->
    <!--field of Application development,Database development & Data Analysis through my coursework and Projects.Highly adept at-->
    <!--learning and utilizing a variety of programming languages, technologies and methodologies.I have the passion for learning-->
    <!--new technologies and designing efficient software for organization's growth.</q></i></b>-->

<!--</div>-->
<!--</div>-->

