/*.me{*/
  /*background-color: burlywood;*/
  /*padding-top: 3%;*/
  /*padding-bottom: 3%;*/
  /*padding-left: 20%;*/
  /*padding-right: 20%;*/
  /*background-size: cover;*/
/*}*/

.me{
  background-color: burlywood;
  background-size: cover ;
}
.skillcon{

  background-color: burlywood;
  background-size: cover ;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: large;

}
.col-md-5{
  padding-left: 20px;
}

.col-md-7{
  padding-top: 80px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 30px;
  font-family:"Californian FB";
  font-size: x-large;
}

.mypic{


}
