<div class="skillset" >

<div class="row">
  <div class="col-md-6">

  <div class="contskill">
    <p>JavaScript</p>
<div class="cont">
  <div class="skills js">80%</div>
</div>
  </div>

    <div class="contskill">
<p>HTML</p>
<div class="cont">
  <div class="skills html">90%</div>
</div>
    </div>
    <div class="contskill">
<p>CSS</p>
<div class="cont">
  <div class="skills css">80%</div>
</div>
    </div>
    <div class="contskill">
<p>Angular</p>
<div class="cont">
  <div class="skills ang">70%</div>
</div>
    </div>






  </div>


  <div class="col-md-6">
    <div class="contskill">
    <p>Java</p>
    <div class="cont">
      <div class="skills java">80%</div>
    </div>
    </div>
    <div class="contskill">
    <p>SQL</p>
    <div class="cont">
      <div class="skills sql">90%</div>
    </div>
    </div>
    <div class="contskill">
    <p>REST API</p>
    <div class="cont">
      <div class="skills re">80%</div>
    </div>
    </div>
    <div class="contskill">
    <p>Python</p>
    <div class="cont">
      <div class="skills py">60%</div>
    </div>
  </div>
  </div>


</div>
</div>
