<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <br>

    <div class="mySlides">
      <div class="numbertext fade"></div>
      <!--<img src="../../assets/img/header.jpg" style="width:100%">-->
      <!--<div class="text">Caption Text</div>-->

      <p><q>
        Saily was working with us as a part of her Master’s Project to build the Android version of our app. Her sincerity towards
        the task was obvious from the outset and her dedication ensured that any issues she encountered were quickly resolved.
        She was a highly motivated individual and efficient learner throughout the course of Project. Her ideas enhancing and
        promoting our app were ingenious. She has made some fundamental contribution towards the development of the app. It’s a
        pleasure to recommend Saily for her career as a Software Developer!.</q></p>
      <br>
      <p style="float: right">Vivek Kumar-<i>President pullup technologies</i></p>

    </div>

    <div class="mySlides">
      <div class="numbertext fade"></div>
      <!--<img src="../../assets/img/portfolio-background-images.png" style="width:100%">-->
      <!--<div class="text">Caption Two</div>-->

      <p><q>I worked with Saily who joined as a member of our Android dev team for pullup. Saily learned alot of new technologies
        very quickly in a small amount time such as different backend and third-party APIs, Full Stack Android Development, OOP,
        MongoDB, RESTful services, and Sockets. Saily worked hard to complete all her stories/tickets while working and collabrating
        in an Agile environment amongst a team of seven developers. Saily initially was unfamiliar with many of the technologies in
        our stack but she took up the challenge and went above and beyond learning them all very quickly using all avaliable
        resources. Saily's willingness to learn emerging technologies while following best practices to apply them made it very
        easy to mentor and guide her through the technology stack and business concepts we have at pullup.</q></p>
      <br>
      <p style="float: right">Dhruv Shah-<i>VP of Tech Operations pullup technologies</i></p>
    </div>

    <!--<div class="mySlides">-->
    <!--<div class="numbertext fade">3 / 3</div>-->
    <!--<img src="../../assets/img/Experience.jpg" style="width:20%">-->
    <!--<div class="text">Caption Three</div>-->
    <!--</div>-->
    <!--<a class="prev" (click)="plusSlides(-1)">&#10094;</a>-->
    <!--<a class="next" (click)="plusSlides(1)">&#10095;</a>-->



<br>
    <div style="text-align:center;" >
      <span class="dot" (click)="currentSlide(1)"></span>
      <span class="dot" (click)="currentSlide(2)"></span>
      <!--<span class="dot" (click)="currentSlide(3)"></span>-->
    </div>
  </div>
</div>
