<!--<head>-->
  <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<!--</head>-->

  <!--<img src="../../assets/img/wall_a.jpg" class="img-responsive">-->
  <!--<h1 align="center">I am a Web Developer</h1>-->


  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-md-4" style="font-size: xx-large;font-family: 'Times New Roman'">-->
        <!--<p><B>Education</B> </p>-->
      <!--</div>-->
      <!--<div class="col-md-8" style="font-family: 'Times New Roman';font-size: x-large">-->
        <!--<p><b>New Jersey Institute of Technology</b></p>-->
        <!--<p><i>Master of Science-Computer Science</i></p>-->
        <!--<br>-->
        <!--<p><b>University of Mumbai</b></p>-->
        <!--<p><i>Bachelor of Engineering-Computer Science</i></p>-->
      <!--</div>-->
    <!--</div>-->
<!--<hr>-->
    <!--<div class="row">-->
      <!--<div class="col-md-4" style="font-size: xx-large;font-family: 'Times New Roman'">-->
        <!--<p><b>Work</b></p>-->
      <!--</div>-->
      <!--<div class="col-md-8" style="font-family: 'Times New Roman';font-size: x-large">-->
        <!--<p><b>pullup Technologies Inc. </b></p>-->
        <!--<p>Newark,NJ</p>-->
      <!--</div>-->
  <!--</div>-->
    <!--<br>-->
    <!--<br>-->
    <!--<br>-->
    <!--<div class="row">-->
      <!--<div class="col-md-3" style="color: white;font-family: Calibri;font-size: x-large">-->
      <!--</div>-->
      <!--<div class="col-md-9">-->
        <!--<button style="font-size:20px"><a href="../../assets/img/Saily_Sawant_Resume.pdf" target="_blank">Download Resume </a><i class="fa fa-file-text"></i></button>-->
        <!--&lt;!&ndash;<p><b>sps67@njit.edu</b></p>&ndash;&gt;-->
  <!--</div>-->
<!--</div>-->
  <!--</div>-->





<div class="resume">
<div class="timeline">
  <div class="cont left">
    <div class="content">
      <h2>Android App Development</h2>
      <p>pullup Technologies</p>
      <p>May 2018</p>
    </div>
  </div>
    <br>
    <div class="cont left">
    <div class="content">
      <h2>Website Development</h2>
      <p>pullup Technologies</p>
      <p>Jan 2018-May 2018</p>
      <br>
    </div>
  </div>
  <div class="cont right">
    <div class="content">
      <h2>New Jersey Institute of Technology</h2>
      <p>M.S in Computer Science</p>
      <p>September 2016-May 2018</p>
    </div>
  </div>
    <br>
  <div class="cont right">
    <div class="content">
      <h2>University of Mumbai</h2>
      <p>B.E. in Computer Science</p>
      <p>August 2011-June 2015</p>
      <br>
    </div>
  </div>



</div>
</div>
